################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Sharp
/obj
/Udemy/Ultimate C# Masterclass/Assignments/Assignment1_Calculator/obj/Debug/net8.0
/.vs/ProjectEvaluation
/Udemy/Ultimate C# Masterclass/Assignments/Assignment2_ToDoList/obj/Debug/net8.0
**/bin/
**/obj/
/Udemy/Ultimate C# Masterclass/Code/Test/.vs/Test/CopilotIndices/0.2.1671.27212
/Udemy/Ultimate C# Masterclass/Code/Test/.vs/Test/DesignTimeBuild
/Udemy/Ultimate C# Masterclass/Code/Test/.vs/Test/v17
